 <div class="form-group" ng-class="{'has-error': form[field.key].$dirty && form[field.key].$invalid}">
     <label for="{{field.key}}">{{field.label}}</label>
     <input
          type="date"
          id="{{field.key}}"
          ng-model="data[field.key]"
          ng-disabled="{{field.disabled}}"
          ng-readonly="{{field.readonly}}"
          name="{{field.key}}"
          class="form-control"
          placeholder="{{field.placeholder}}"
          ng-required="field.validation().required"
          ng-change="field.validation().change"
 />
</div>
