<div class="form-group" ng-class="{'has-error': form[field.key].$dirty && form[field.key].$invalid}">
    <label for="{{field.key}}">{{field.label}}</label>
    <input
         type="email"
         id="{{field.key}}"
         ng-model="data[field.key]"
         name="{{field.key}}"
         class="form-control"
         placeholder="{{field.placeholder}}"
         ng-disabled="{{field.disabled}}"
         ng-readonly="{{field.readonly}}"
         ng-required="field.validation().required"
         ng-minlength="field.validation().minlength"
         ng-maxlength="field.validation().maxlength"
         ng-pattern="field.validation().pattern"
         ng-change="field.validation().change"
 />
</div>
